---
const title = "About";
---

<html>
  <body>
    <h1>About</h1>
    <form>
      <input name="email" placeholder="Your email" />
      <button>Subscribe</button>
    </form>
    <a href="/">Home</a>
  </body>
</html>
