---
const posts = await fetch("/api/posts").then((r) => r.json());
---

<html>
  <body>
    <h1>Blog</h1>
    <ul>
      <li><a href="/blog/hello-world">Hello World</a></li>
    </ul>
  </body>
</html>
